:root {
	font-size: 16px;
	
	--title-font: "Inconsolata","思源黑体 CN Light";
	--text-font: "QiushuiShotai Bright";
	--mono-font: "Inconsolata","思源黑体 CN Light";
	--head-font: "975 圆体"
		
	--code-bg-color: #f7f6f3;
	--link-color: #6c7e8c;
}