a.tc-tiddlylink{
	font-family: var(--mono-font);
	font-size: 0.95rem;
	font-weight: normal;
	line-height: 1.5;
	color: #4779fb !important;
	border-bottom: 1px solid #2a4895;
}

a.tc-tiddlylink:hover {
	line-height: 1.5;
	opacity: 0.8;
	color: #3c67d4;
	border-bottom: 1px solid #2e4ea1;
	transition: background 120ms ease-in 0s;
}

/* 外部链接 */
a.tc-tiddlylink-external {
	font-family: var(--mono-font);
	font-size: 0.95rem;
	font-weight: normal;
	line-height: 1.5;
	color: #4779fb;
	border-bottom: 1px solid #2a4895;
}

/* 悬停的外部链接 */
a.tc-tiddlylink-external:hover {
	opacity: 0.8; /* 如果你想在悬停时改变透明度，可以保留 */
	color: #3c67d4;
	border-bottom: 1px solid #2e4ea1;
	font-weight: bold;
	text-decoration: none;
	background-image: none;
	background-clip: none;
}
